<section class="container" id="about_the_game">
  <div class="about-the-game-thumb">
    <div class="about-the-game-header">
      <h1 class="about-the-game-title">About the Game</h1>
      <div class="about-the-game-logo">
        <a href="./index.html" class="header-img-box">
          <picture>
            <img
              class="about-the-game-image"
              srcset="
                ./img/header/logo_header1x.png 1x,
                ./img/header/logo_header2x.png 2x
              "
              alt="logo"
              width="64"
              height="64"
              loading="lazy"
              title="logo"
            />
          </picture>
        </a>
      </div>
    </div>
    <div class="about-the-game-box">
      <ul class="about-the-game-list">
        <li>
          <picture>
            <source
              srcset="
                ./img/about_the_game/abt-t-gm1_desk@1x.png 1x,
                ./img/about_the_game/abt-t-gm1_desk@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              loading="lazy"
              srcset="
                ./img/about_the_game/abt-t-gm1_mob@1x.png 1x,
                ./img/about_the_game/abt-t-gm1_mob@2x.png 2x
              "
              class="about-the-game-picture"
              src="./img/about_the_game/abt-t-gm1_mob@1x.png"
              alt="about the game picture"
              width="288"
              height="132"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ./img/about_the_game/abt-t-gm2_desk@1x.png 1x,
                ./img/about_the_game/abt-t-gm2_desk@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              loading="lazy"
              srcset="
                ./img/about_the_game/abt-t-gm2_mob@1x.png 1x,
                ./img/about_the_game/abt-t-gm2_mob@2x.png 2x
              "
              class="about-the-game-picture"
              src="./img/about_the_game/abt-t-gm2_mob@1x.png"
              alt="about the game picture"
              width="288"
              height="132"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ./img/about_the_game/abt-t-gm3_desk@1x.png 1x,
                ./img/about_the_game/abt-t-gm3_desk@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              loading="lazy"
              srcset="
                ./img/about_the_game/abt-t-gm3_mob@1x.png 1x,
                ./img/about_the_game/abt-t-gm3_mob@2x.png 2x
              "
              class="about-the-game-picture"
              src="./img/about_the_game/abt-t-gm3_mob@1x.png"
              alt="about the game picture"
              width="288"
              height="132"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ./img/about_the_game/abt-t-gm4_desk@1x.png 1x,
                ./img/about_the_game/abt-t-gm4_desk@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              loading="lazy"
              srcset="
                ./img/about_the_game/abt-t-gm4_mob@1x.png 1x,
                ./img/about_the_game/abt-t-gm4_mob@2x.png 2x
              "
              class="about-the-game-picture"
              src="./img/about_the_game/abt-t-gm4_mob@1x.png"
              alt="about the game picture"
              width="288"
              height="132"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
