<section class="faq-section section-padding">
  <div class="container">
    <div class="faq-title-wrapper">
      <h2 class="section-title">FAQ</h2>
      <picture
        ><source
          srcset="../img/faq-logo-desc.png 1x, ../img/faq-logo-desc@2x.png 2x"
          media="(min-width: 1200px)" />
        <source
          srcset="../img/faq-logo-mob.png 1x, ../img/faq-logo-mob@2x.png 2x"
          media="(max-width: 1199px)" />
        <img src="../img/faq-logo-desc.png" alt="faq-image"
      /></picture>
    </div>
    <ul class="faq-list">
      <li class="faq-item">
        <h3 class="section-subtitle">
          How do I start playing Birds Sort Puzzle?
        </h3>
        <p class="section-text">
          Simply download the game from Google Play, and start sorting birds
          into the correct sections.
        </p>
      </li>
    </ul>
  </div>
</section>
