<section class="features-section section-padding">
  <div class="container">
    <h2 class="section-title">Features</h2>
    <ul class="features-list">
      <li class="features-item">
        <h3 class="features-item-title">Simple and Addictive Gameplay</h3>
        <p class="features-item-text">
          Enjoy hours of fun sorting birds with easy-to-understand mechanics.
        </p>
      </li>
      <li>
        <img
          src="../img/features-forest-mob.png"
          srcset="
            ../img/features-forest-mob.png    1x,
            ../img/features-forest-mob@2x.png 2x
          "
          alt="features-image"
        />
      </li>
    </ul>
  </div>
</section>
