<section class="features-section section-padding" id="features">
  <div class="container">
    <h2 class="section-title features-section-title">Features</h2>
    <ul class="features-list">
      <li class="features-item features-item-first">
        <h3 class="section-subtitle features-section-subtitle">
          Simple and Addictive Gameplay
        </h3>
        <p class="section-text">
          Enjoy hours of fun sorting birds with easy-to-understand mechanics.
        </p>
      </li>
      <li class="features-item-second">
        <picture
          ><source
            srcset="
              ./img/features-forest-desc.png    1x,
              ./img/features-forest-desc@2x.png 2x
            "
            media="(min-width: 1200px)" />
          <source
            srcset="
              ./img/features-forest-mob.png    1x,
              ./img/features-forest-mob@2x.png 2x
            "
            media="(max-width: 1199px)" />
          <img src="./img/features-forest-desc.png" alt="features-image"
        /></picture>
      </li>
      <li class="features-item features-item-third">
        <h3 class="section-subtitle features-section-subtitle">
          Challenging Levels
        </h3>
        <p class="section-text">
          Overcome progressively difficult puzzles that test your logical
          thinking.
        </p>
      </li>
      <li class="features-item features-item-fourth">
        <h3 class="section-subtitle features-section-subtitle">
          Relaxing Bird Theme
        </h3>
        <p class="section-text">
          Overcome progressively difficult puzzles that test your logical
          thinking.
        </p>
      </li>
      <li class="features-item-fifth">
        <picture
          ><source
            srcset="
              ./img/features-bird-desc.png    1x,
              ./img/features-bird-desc@2x.png 2x
            "
            media="(min-width: 1200px)" />
          <source
            srcset="
              ./img/features-bird-mob.png    1x,
              ./img/features-bird-mob@2x.png 2x
            "
            media="(max-width: 1199px)" />
          <img src="./img/features-bird-desc.png" alt="features-image"
        /></picture>
      </li>
      <li class="features-item features-item-sixth">
        <h3 class="section-subtitle features-section-subtitle">Endless Fun</h3>
        <p class="section-text">
          Hundreds of levels to keep you entertained with new puzzles added
          regularly.
        </p>
      </li>
      <li class="features-item features-item-seventh">
        <h3 class="section-subtitle features-section-subtitle">
          Frequent Updates
        </h3>
        <p class="section-text">
          New puzzles and features added regularly to keep the gameplay fresh
          and exciting.
        </p>
      </li>
      <li class="features-item-eighth">
        <picture
          ><source
            srcset="
              ./img/features-lake-desc.png    1x,
              ./img/features-lake-desc@2x.png 2x
            "
            media="(min-width: 1200px)" />
          <source
            srcset="
              ./img/features-lake-mob.png    1x,
              ./img/features-lake-mob@2x.png 2x
            "
            media="(max-width: 1199px)" />
          <img src="./img/features-lake-desc.png" alt="features-image"
        /></picture>
      </li>
    </ul>
  </div>
</section>
