<section class="section-padding gallery-background" id="gallery">
  <div class="container image-container">
    <h1 class="gallery-title">Gallery</h1>
    <ul class="gallery-list">
      <li class="slide-in-top">
        <img
          class="gallery-img"
          srcset="
            ./img/gallery/gallery1@1x.png 1x,
            ./img/gallery/gallery1@2x.png 2x
          "
          src="./img/gallery/gallery1@1x.png"
          width="90"
          height="162"
          alt="Screen of the game"
        />
      </li>
      <li class="slide-in-bottom">
        <img
          class="gallery-img"
          srcset="
            ./img/gallery/gallery2@1x.png 1x,
            ./img/gallery/gallery2@2x.png 2x
          "
          src="./img/gallery/gallery2@1x.png"
          width="90"
          height="162"
          alt="Screen of the game"
        />
      </li>
      <li class="slide-in-top">
        <img
          class="gallery-img"
          srcset="
            ./img/gallery/gallery3@1x.png 1x,
            ./img/gallery/gallery3@2x.png 2x
          "
          src="./img/gallery/gallery3@1x.png"
          width="90"
          height="162"
          alt="Screen of the game"
        />
      </li>
    </ul>
  </div>
</section>
