<header class="header">
  <div class="container header-container">
    <nav class="header_nav">
      <div class="header_logo">
        <a href="./index.html" class="header-img-box">
          <picture>
            <img
              class="header-image"
              srcset="
                ./img/header/logo_header1x.png 1x,
                ./img/header/logo_header2x.png 2x
              "
              alt="logo"
              width="64"
              height="64"
              loading="lazy"
              title="logo"
            />
          </picture>
        </a>
      </div>
      <ul class="header_nav_list header-menu-list">
        <li>
          <a href="#home" class="header_nav_link">Home</a>
        </li>
        <li>
          <a href="#gallery" class="header_nav_link">Gallery</a>
        </li>
        <li>
          <a href="#about_the_game" class="header_nav_link">About the Game</a>
        </li>
        <li>
          <a href="#features" class="header_nav_link">Features</a>
        </li>
        <li>
          <a href="#faq" class="header_nav_link">FAQ</a>
        </li>
        <li>
          <a href="#how_to_play" class="header_nav_link">How to Play</a>
        </li>
      </ul>
      <div class="header-burger-btn-box header-burger-btn">
        <button
          class="header-burger-btn"
          type="button"
          aria-label="Mobile menu button"
        >
          <svg class="header-burger-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-Burger-Menu"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>

  <!-- mobile -->

  <div class="header-burger-backdrop" id="burger-backdrop">
    <div class="header-burger-menu">
      <div thumb_header>
        <button
          class="header-close-btn"
          type="button"
          aria-label="Close button"
        >
          <svg class="header-close-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-Close-Menu"></use>
          </svg>
        </button>
        <ul class="header-burger-menu-list">
          <li class="header-burger-menu-list-item">
            <a
              href="#home"
              class="header-burger-list-item-link header-burger-animation"
              >Home</a
            >
          </li>
          <li class="header-menu-list-item">
            <a
              href="#gallery"
              class="header-burger-list-item-link header-burger-animation"
              >Gallery</a
            >
          </li>
          <li class="header-menu-list-item">
            <a
              href="#about_the_game"
              class="header-burger-list-item-link header-burger-animation"
              >About the Game</a
            >
          </li>
          <li class="header-menu-list-item">
            <a
              href="#features"
              class="header-burger-list-item-link header-burger-animation"
              >Features</a
            >
          </li>
          <li class="header-menu-list-item">
            <a
              href="#faq"
              class="header-burger-list-item-link header-burger-animation"
              >FAQ</a
            >
          </li>
          <li class="header-menu-list-item">
            <a
              href="#how_to_play"
              class="header-burger-list-item-link header-burger-animation"
              >How to Play</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
