<section id="home">
  <div class="container hero-container">
    <h1 class="hero-title animate-right">Birds Sort<br> Puzzle</h1>
    <div class="hero-thumb">
    <p class="hero-text animate-left">
      Sort the Birds, Solve the Puzzle! A fun and relaxing bird-sorting
      adventure awaits!
    </p>
    
    <a class="google-play-btn" href="https://play.google.com/store/" target="_blank" rel="noopener noreferrer">
  <div class="google-play-content animate-right">
    <img src="./img/hero/hero_google_play.png" alt="Google Play Logo" class="google-play-icon">
    <div class="google-play-text">
      <span class="main-text-btn">get it on</span>
      <strong class="google-text">Google Play</strong>
    </div>
  </div>
</a>

      </div>
    </div>
  </div>
</section>
