<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">Birds Sort<br> Puzzle</h1>
    <div class="hero-thumb">
    <p class="hero-text">
      Sort the Birds, Solve the Puzzle! A fun and relaxing bird-sorting
      adventure awaits!
    </p>
    <button class="google-play-btn" type="button"></button>
  
      <!-- <a class="game-link" href="https://play.google.com/store/" target="_blank" rel="noopener no-referrer">
      </a> -->
      </div>
    </div>
  </div>
</section>
