<section class="how-to-play-section section-padding" id="how_to_play">
  <div class="container">
    <h2 class="section-title how-to-play-section-title">How to Play</h2>
    <ul class="how-to-play-list">
      <li class="how-to-play-item">
        <h3 class="section-subtitle how-to-play-section-subtitle">
          <span>1</span><span>Sort the Birds</span>
        </h3>
        <p class="section-text">
          Move birds into their corresponding spaces according to their color,
          type, or pattern.
        </p>
      </li>
      <li class="how-to-play-item">
        <h3 class="section-subtitle how-to-play-section-subtitle">
          <span>2</span><span>Complete the Puzzle</span>
        </h3>
        <p class="section-text">
          Clear the board by successfully sorting all the birds.
        </p>
      </li>
      <li class="how-to-play-item">
        <h3 class="section-subtitle how-to-play-section-subtitle">
          <span>3</span><span>Earn Stars</span>
        </h3>
        <p class="section-text">
          Collect stars as rewards for completing puzzles, unlocking new levels.
        </p>
      </li>
      <li class="how-to-play-item">
        <h3 class="section-subtitle how-to-play-section-subtitle">
          <span>4</span><span>Challenge Yourself</span>
        </h3>
        <p class="section-text">
          As the levels increase, the puzzles become more complex and require
          better planning.
        </p>
      </li>
    </ul>
  </div>
</section>
