.features-section {
  background: radial-gradient(
    148.08% 141.42% at 0% 0%,
    rgb(18, 35, 118) 0%,
    rgb(27, 51, 189) 31.999999284744263%,
    rgb(38, 34, 164) 73.00000190734863%,
    rgb(100, 127, 224) 100%
  );
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features-item {
  padding: 16px;
  border-radius: 16px;
  backdrop-filter: blur(8px);
  background: linear-gradient(134deg, #132278 0%, #34379f 49.52%, #2d95ef 100%);
}

.features-section-subtitle {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .features-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 224px 200px 200px 200px 228px);
    gap: 24px;
    grid-template-areas:
      'features-item-first features-item-sixth'
      'features-item-second features-item-fifth'
      'features-item-third .'
      'features-item-eighth .'
      'features-item-fourth features-item-seventh';
    height: 1114px;
  }

  .features-item-first {
    grid-area: features-item-first;
    height: 224px;
    padding: 32px;
  }

  .features-item-second {
    grid-area: features-item-second;
    height: 200px;
  }

  .features-item-third {
    grid-area: features-item-third;
    height: 200px;
    padding: 36px 32px;
  }

  .features-item-fourth {
    grid-area: features-item-fourth;
    height: 228px;
    padding: 32px;
  }

  .features-item-fifth {
    grid-area: features-item-fifth;
    height: 506px;
    position: absolute;
    top: 72px;
  }

  .features-item-sixth {
    grid-area: features-item-sixth;
    height: 296px;
    padding: 85px 32px;
  }

  .features-item-seventh {
    grid-area: features-item-seventh;
    height: 296px;
    position: absolute;
    bottom: 0;
    padding: 85px 32px;
  }

  .features-item-eighth {
    grid-area: features-item-eighth;
    height: 200px;
  }

  .features-section-subtitle {
    margin-bottom: 24px;
  }
}
