.features-section {
  background: radial-gradient(
    148.08% 141.42% at 0% 0%,
    rgb(18, 35, 118) 0%,
    rgb(27, 51, 189) 31.999999284744263%,
    rgb(38, 34, 164) 73.00000190734863%,
    rgb(100, 127, 224) 100%
  );
}

.features-section-title {
  margin-bottom: 16px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features-item {
  padding: 16px;
  border-radius: 16px;
  backdrop-filter: blur(8px);
  background: linear-gradient(134deg, #132278 0%, #34379f 49.52%, #2d95ef 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

@media screen and (max-width: 1199px) {
  .features-item-first,
  .features-item-third,
  .features-item-fourth {
    min-height: 120px;
  }

  .features-item-sixth,
  .features-item-seventh {
    height: 125px;
  }

  .features-item-first,
  .features-item-third,
  .features-item-fourth,
  .features-item-sixth,
  .features-item-seventh {
    background-image: url(../img/features-bg-mob.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .features-item-first,
    .features-item-third,
    .features-item-fourth,
    .features-item-sixth,
    .features-item-seventh {
      background-image: url(../img/features-bg-mob@2x.png);
    }
  }
}

.features-section-subtitle {
  margin-bottom: 8px;
}

//===============ANIMATION FOR MOBILE===============//

@media screen and (max-width: 1199px) {
  .js-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .js-animation.animate {
    opacity: 1;
    transform: translateY(0);
  }
}

//===============DESCTOP STYLES===============//

@media screen and (min-width: 1200px) {
  .features-section-title {
    margin-bottom: 32px;
  }

  .features-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 224px 200px 200px 200px 228px;
    gap: 24px;
    grid-template-areas:
      'features-item-first features-item-sixth'
      'features-item-second features-item-fifth'
      'features-item-third .'
      'features-item-eighth .'
      'features-item-fourth features-item-seventh';
  }

  .features-item-first {
    grid-area: features-item-first;
    height: 224px;
    padding: 32px;
  }

  .features-item-second {
    grid-area: features-item-second;
    height: 200px;
  }

  .features-item-third {
    grid-area: features-item-third;
    height: 200px;
    padding: 36px 32px;
  }

  .features-item-fourth {
    grid-area: features-item-fourth;
    height: 228px;
    padding: 32px;
  }

  .features-item-fifth {
    grid-area: features-item-fifth;
    height: 506px;
    position: absolute;
    top: 72px;
  }

  .features-item-sixth {
    grid-area: features-item-sixth;
    height: 296px;
    padding: 85px 32px;
  }

  .features-item-seventh {
    grid-area: features-item-seventh;
    height: 296px;
    position: absolute;
    bottom: 0;
    padding: 85px 32px;
  }

  .features-item-eighth {
    grid-area: features-item-eighth;
    height: 200px;
  }

  .features-item-first,
  .features-item-third,
  .features-item-fourth {
    background-image: url(../img/features-bg-sm-desc.png);
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .features-item-sixth,
  .features-item-seventh {
    background-image: url(../img/features-bg-lg-desc.png);
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .features-item-first,
    .features-item-third,
    .features-item-fourth {
      background-image: url(../img/features-bg-sm-desc@2x.png);
    }

    .features-item-sixth,
    .features-item-seventh {
      background-image: url(../img/features-bg-lg-desc@2x.png);
    }

    .features-item-first:hover,
    .features-item-third:hover,
    .features-item-fourth:hover {
      background-image: url(../img/features-bg-sm-hover@2x.png);
    }

    .features-item-sixth:hover,
    .features-item-seventh:hover {
      background-image: url(../img/features-bg-lg-hover@2x.png);
    }
  }

  .features-item-first:hover,
  .features-item-third:hover,
  .features-item-fourth:hover {
    background-image: url(../img/features-bg-sm-hover.png);
  }

  .features-item-sixth:hover,
  .features-item-seventh:hover {
    background-image: url(../img/features-bg-lg-hover.png);
  }

  .features-section-subtitle {
    margin-bottom: 24px;
  }
}

//===============ANIMATION FOR DESCTOP===============//

@media screen and (min-width: 1200px) {
  .js-animation {
    opacity: 0;
    transform: translateX(0);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }

  .slide-in-left {
    transform: translateX(-100%);
  }

  .slide-in-right {
    transform: translateX(100%);
  }

  .js-animation.animate {
    opacity: 1;
    transform: translateX(0);
  }

  // .image-container {
  //   position: relative;
  //   overflow: hidden;
  // }

  // .features-list li {
  //   position: absolute;
  //   opacity: 0;
  // }

  // .slide-in-right {
  //   animation: slideInRight 1s ease-out forwards;
  // }

  // .slide-in-left {
  //   animation: slideInLeft 1s ease-out forwards;
  // }

  // @keyframes slideInRight {
  //   0% {
  //     transform: translateX(100%);
  //     opacity: 0;
  //   }
  //   100% {
  //     transform: translateX(0);
  //     opacity: 1;
  //   }
  // }

  // @keyframes slideInLeft {
  //   0% {
  //     transform: translateX(-100%);
  //     opacity: 0;
  //   }
  //   100% {
  //     transform: translateX(0);
  //     opacity: 1;
  //   }
  // }
}
