.gallery-title {
  font-family: Luckiest Guy;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .gallery-title {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 32px;
  }
}

.gallery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .gallery-list {
    gap: 24px;
  }
}
.gallery-move {
  padding-top: 32px;
}
@media screen and (min-width: 1200px) {
  .gallery-move {
    padding-top: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-img {
    width: 324px;
    height: 1176px;
  }
}
// ------animation--------//

/* Контейнер галереї */
.image-container {
  position: relative;
  overflow: hidden; /* Приховуємо елементи до анімації */
}

// .gallery-list {
//   display: flex; /* Відображає елементи у рядку */
//   gap: 20px; /* Відступи між елементами */
//   justify-content: center; /* Вирівнюємо по центру */
//   list-style: none; /* Прибираємо маркери списку */
//   padding: 0;
//   margin: 0;
// }

.gallery-list li {
  position: relative;
  opacity: 0; /* Початково приховані елементи */
}

/* Анімація для елементів, що виїжджають зверху */
.slide-in-top {
  animation: slideInTop 1s ease-out forwards; /* Анімація зверху */
}

/* Анімація для елемента, що виїжджає знизу */
.slide-in-bottom {
  animation: slideInBottom 1s ease-out forwards; /* Анімація знизу */
}

/* Анімація для виїзду зверху */
@keyframes slideInTop {
  0% {
    transform: translateY(
      -100%
    ); /* Початкова позиція за межами екрану зверху */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Кінцева позиція у видимій зоні */
    opacity: 1;
  }
}

/* Анімація для виїзду знизу */
@keyframes slideInBottom {
  0% {
    transform: translateY(100%); /* Початкова позиція за межами екрану знизу */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Кінцева позиція у видимій зоні */
    opacity: 1;
    padding-top: 30px; /* Додаємо зсув після завершення анімації */
  }
}

/* Затримка для кожного елемента */
.gallery-list li:nth-child(1) {
  animation-delay: 0.2s; /* Затримка для першого елемента */
}

.gallery-list li:nth-child(2) {
  animation-delay: 0.4s; /* Затримка для другого елемента */
}

.gallery-list li:nth-child(3) {
  animation-delay: 0.6s; /* Затримка для третього елемента */
}
