.hero-container {
  display: block;
  background-image: (url(../img/hero/hero_mob@1x.jpg));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 185px;
}
@media screen and (min-width: 1200px) {
  .hero-container {
    background-image: (url(../img/hero/hero_desk@1x.jpg));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero-title {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  width: 288px;
  text-align: left;
  padding-left: 16px;
  padding-top: 313px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    padding-left: 90px;
    font-size: 96px;
    line-height: 96px;
    width: auto;
    margin-bottom: 167px;
  }
}
.hero-text {
  font-family: Inter Tight;
  font-size: 24px;
  font-weight: 600;
  line-height: 26.4px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 288px;
  padding-bottom: 89px;
  padding-left: 16px;
}

@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    padding-left: 24px;
    width: 488px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 32px;
    line-height: 32px;
    justify-content: center;
    margin: 0 auto;
  }
}

.hero-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .hero-thumb {
    padding-bottom: 64px;
  }
}

.google-play-btn {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(12, 23, 76, 1);
  border-radius: 6px;
  padding: 8px 86.5px;
  color: rgba(255, 255, 255, 1);
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 288px;
  margin-bottom: 32px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .google-play-btn {
    width: 498px;
  }
}

.google-play-btn:hover,
.google-play-btn:focus {
  transform: scale(1.05);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    101.2deg,
    #0d1753 1.56%,
    #23256d 50.31%,
    #1a609a 100%
  );
}

.google-play-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.google-play-icon {
  width: 23.07px;
  height: 25.7px;
}

.google-play-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .hero-thumb {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.main-text-btn {
  font-family: Inter Tight;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.google-text {
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
}
